# yamllint disable rule:line-length
# yamllint disable rule:truthy
---
name: gha-tools-workflows development build

on:
  push:
    branches:
      - "*"
    tags:
      - "!*"

permissions:
  contents: read
  actions: read
  security-events: write

jobs:

  static-code-analysis:
    name: static code analysis
    uses: twplatformlabs/gha-tools-workflows/.github/workflows/action-dev-build.yaml@v1

  # integration-tests:
  #   name: integration test
  #   needs: static-code-analysis
  #   uses: ./.github/workflows/integration-tests.yaml
  #   secrets:
  #     OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
