# yamllint disable rule:line-length
# yamllint disable rule:truthy
---
name: gh runner dev build

# description:
#
# Performs the common development CI lifecycle steps for building pre-configured GitHub Action runners.
#
# Uses:
#   hadolint/hadolint-action
#   twplatformlabs/gha-tools-actions/buildx (using bake file confiuration)
#   twplatformlabs/gha-tools-actions/scout-scan (Docker Scout cve scan)
#   (Optional) twplatformlabs/gha-tools-actions/snyk-scan
#   (Optional) twplatformlabs/gha-tools-actions/bats (Runtime configuration testing option)
#   ossf/scorecard-action
#
# Use before-build local Action to setup ENV values,
# both pulled from a secrets store and for use in bake file.
# See inputs below for optional configuration parameters

on:
  workflow_call:

    secrets:
      OP_SERVICE_ACCOUNT_TOKEN:
        description: 1password vault services account token
        required: false

    inputs:

      registry:
        description: oci compatible registry
        required: false
        type: string
        default: docker.io

      dockerfile:
        description: path to the directory containing your Dockerfile(s)
        required: false
        type: string
        default: "./Dockerfile"

      skip-hadolint:
        description: skip hadolint scan. Default is false.
        required: false
        type: string
        default: "false"
      hadolint-config:
        description: Custom hadolint config file.
        required: false
        type: string
        default: ""
      hadolint-verbose:
        description: verbose output. Default is false.
        required: false
        type: string
        default: "false"
      hadolint-failure-threshold:
        description: Reporting error level. Default is info (error, warning, style, ignore) 
        required: false
        type: string
        default: "info"
      hadolint-format:
        description: hadolint output format. Default is tty.
        required: false
        type: string
        default: "tty"
      hadolint-output-file:
        description: pipe output to file. Default is /dev/stdout.
        required: false
        type: string
        default: "/dev/stdout"
      hadolint-ignore:
        description: comma delimited list of Hadolint rules to ignore.
        required: false
        type: string
        default: ""
      hadolint-no-fail:
        description: don't fail on errors. Default is false.
        required: false
        type: string
        default: "false"
      hadolint-trusted-registries:
        description: comma delimited list of trusted registries.
        required: false
        type: string
        default: ""

      bake-file:
        description: Name of docker bake json file. Default is docker-bake.json.
        required: false
        type: string
        default: "docker-bake.json"
      tag:
        description: value for tag
        required: false
        type: string
        default: ""
      target:
        description: bake file target to build. Default is runner.
        required: false
        type: string
        default: "runners"
      extra-build-args:
        description: Extra flags to pass to docker build
        required: false
        type: string
        default: ""

      bats-test:
        description: run bats test against container
        required: false
        type: string
        default: false
      bats-version:
        description: install bats version
        required: false
        type: string
        default: ""
      bats-run-container-name:
        description: name for running container
        required: false
        type: string
        default: container-test
      bats-entry-point:
        description: name of shell ( bash | ash | etc )
        required: false
        type: string
        default: /bin/bash
      bats-test-path:
        description: name of folder with bats tests
        required: false
        type: string
        default: test

      snyk-scan:
        description: perform snyk scan
        required: false
        type: string
        default: false
      snyk-version:
        description: install snyk version
        required: false
        type: string
        default: ""

      op-version:
        description: install 1password-cli version
        required: false
        type: string
        default: ""
      teller-version:
        description: install teller version
        required: false
        type: string
        default: ""
      vault-version:
        description: install vault version
        required: false
        type: string
        default: ""
      scout-version:
        description: install docker scout version
        required: false
        type: string
        default: ""

      after-checkout:
        description: optionally call ./.github/actions/after-checkout after code checkout
        required: false
        type: string
        default: "false"

      before-build:
        description: optionally call ./.github/actions/before-build before docker build
        required: false
        type: string
        default: "false"

      after-build:
        description: optionally call ./.github/actions/after-build after docker build
        required: false
        type: string
        default: "false"

      builder-image-version:
        description: default is latest
        type: string
        required: false
        default: "twdps/gha-container-builder:latest"

permissions:
  contents: write
  actions: read
  security-events: write

jobs:

  runner-dev-build:
    name: runner development build workflow
    runs-on: ubuntu-latest
    # container: ${{ inputs.builder-image-version }}

    env:
      OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

    steps:
      - name: checkout code
        uses: actions/checkout@v6

      - name: run custom after-checkout action
        if: ${{ inputs.after-checkout != 'false' }}
        uses: ./.github/actions/after-checkout
        with:
          flag: ${{ inputs.after-checkout }}

      - name: install dev-release dependencies
        uses: twplatformlabs/gha-tools-actions/install@main
        with:
          op-version: ${{ inputs.op-version }}
          teller-version: ${{ inputs.teller-version }}
          vault-version: ${{ inputs.vault-version }}
          scout-version: ${{ inputs.scout-version }}
          snyk-version: ${{ inputs.snyk-version }}
          bats-version: ${{ inputs.bats-version }}

      - name: run custom before-build action
        if: ${{ inputs.before-build != 'false' }}
        uses: ./.github/actions/before-build
        with:
          flag: ${{ inputs.before-build }}

      - name: hadolint dockerfile
        if: ${{ inputs.skip-hadolint != 'true' }}
        uses: hadolint/hadolint-action@v3.3.0
        with:
          dockerfile: ${{ inputs.dockerfile }}
          config: ${{ inputs.hadolint-config }}
          verbose: ${{ inputs.hadolint-verbose }}
          output-file: ${{ inputs.hadolint-output-file }}
          format: ${{ inputs.hadolint-format }}
          failure-threshold: ${{ inputs.hadolint-failure-threshold }}
          no-fail: ${{ inputs.hadolint-no-fail }}
          ignore: ${{ inputs.hadolint-ignore }}
          trusted-registries: ${{ inputs.hadolint-trusted-registries }}

      - name: confirm registry credentials and access
        uses: twplatformlabs/gha-tools-actions/confirm-registry@main
        with:
          registry: ${{ inputs.registry }}

      - name: build container images from docker bake file
        uses: twplatformlabs/gha-tools-actions/buildx@main
        with:
          bake-file: ${{ inputs.bake-file }}
          tag: ${{ inputs.tag}}
          target: ${{ inputs.target }}
          extra-build-args: ${{ inputs.extra-build-args }}

      - name: run bats test against running container
        if: ${{ inputs.bats-test == 'true' }}
        uses: twplatformlabs/gha-tools-actions/bats@main
        with:
          bake-file: ${{ inputs.bake-file }}
          tag: ${{ inputs.tag}}
          target: ${{ inputs.target }}
          bats-entry-point: ${{ inputs.bats-entry-point }}
          bats-test-path: ${{ inputs.bats-test-path }}

      - name: cve scan container images from docker bake file
        uses: twplatformlabs/gha-tools-actions/scout-scan@main
        with:
          bake-file: ${{ inputs.bake-file }}
          tag: ${{ inputs.tag}}
          target: ${{ inputs.target }}

      - name: run custom after-build action
        if: ${{ inputs.after-build != 'false' }}
        uses: ./.github/actions/after-build
        with:
          flag: ${{ inputs.after-build }}
